@font-face {
  font-family: 'Horizon Regular';
  src: url('./assets/fonts/HorizonRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 20px; /* Base font size */
}

body {
  margin: 0;
  font-family: 'Horizon Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125rem; /* Equivalente a 18px */
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.horizon-font {
  font-family: 'Horizon Regular' !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}